<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" type="text/javascript"></script>
    <script src="script.js" ></script>
    <link rel="stylesheet" type="text/css" href="style.css"></head>

    <title>molecule-webserver</title>
  </head>
  <body>
    <div class="container">

      <div class="header">
        <div class="logo">
          <a href="/"> molecule-webserver</a>
        </div>
      </div>

      <div class="content">

        <h1> Main Menu</h1>
        
        <a class="box" href="add-molecule.html" > Add Molecule</a>
        <a class="box" href="add-element.html" > Add Element</a>
        <a class="box" href="remove-element.html"> Remove Element</a>
        <a class="box" href="view-molecule.html"> View Molecule</a>
        <div class="box"> Other </div>
        <div class="box"> Other</div>
        </div>
        
      </div>
      <div class="footer">
        <p>Developed by Elman Islam (2022)
      </div>
    </div>

  </body>
</html>